* {
    font-family: "Hiragino Kaku Gothic Pro";
}

body {
    background-image: url("007-.jpg");
}

div {
    background-color: white;
    border: 2px solid black;
}

h1, div {
    text-align: center;
    margin: auto;
}

.insidePage {
    background-color: white;
}